#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Name=DavMail Gateway
Comment=Exchange connector
Icon=davmail
Terminal=false
Categories=Email;Office;Network;
Exec=/opt/bin/davmail.sh
